{% extends 'layout.html' %}

{% block title %}All Pets{% endblock title %}

{% block content %}
  <h1 class="display-3 mb-3">All Pets</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Type:</th>
        <th>Derpy?:</th>
        <th>Actions:</th>
      </tr>
    </thead>
    <tbody>
      {% for pet in pets %}
        <tr>
          <td class="align-middle">{{ pet.name }}</td>
          <td class="align-middle">{{ pet.type }}</td>
          <td class="align-middle">{{ 'Yes' if pet.is_derpy else 'No' }}</td>
          <td class="align-middle">
            <a href="/pets/{{ pet.id }}" class="btn btn-sm btn-primary me-2">
              View
            </a>
            <a
              href="/pets/{{ pet.id }}/edit"
              class="btn btn-sm btn-warning me-2"
            >
              Edit
            </a>
            <a href="/pets/{{ pet.id }}/delete" class="btn btn-sm btn-danger">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
